section#contents {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  min-height: 800px;
  margin-top: 80px;

  dl.menu {
    list-style: none;
    padding-left: 0;

    dd {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      cursor: pointer;

      justify-content: center;

      div.fullIcon {
        width: 10%;
      }

      div.fullTxt {
        width: 80%;

        span {
          font-size: 14px;

          svg {
            margin-left: 3px;
            margin-right: 3px;
          }
        }
      }
    }

    dd:hover {
      background-color: #ececec;
    }
  }

  #sidebar {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;

    .menuItem {
      .menuIcon {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  div#menuSlim {
    width: 3%;
    display: none;
  }

  div#menuFull {
    width: 15%;
  }

  div#content {
    width: 85%;
  }
}
