.boardBody {
  margin: 0 auto;
}

#totalCnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

#boardList {
  padding: 15px;

  #boardListTop {
    background-color: silver;
    color: white;
    border-radius: 5px 5px 0 0 !important;
    font-weight: 500;
  }
  .boardItem {
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    padding: 15px;
  }

  .boardItem:hover {
    background-color: #f6f6f6;
    font-weight: 500;

    .title {
      text-decoration: underline;
    }
  }
}

#btnRow {
  margin-top: 12px;
}
